@keyframes shine {
  100% {
    left: 125%;
  }
}
header {
  width: 100%;
  height: 100vh;
  background-color: rgb(122, 122, 122);
}
header > nav {
  width: 100%;
  background-color: black;
  height: 80px;
  display: flex;
  padding-inline: 5%;
}
header > nav > * {
  height: 100%;
}
header > nav > figure {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
header > nav > ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header > nav > ul > li {
  color: white;
  text-transform: capitalize;
  font-family: "Regular";
  font-size: 20px;
  display: flex;
  position: relative;
}
header > nav > ul > li > a {
  padding-inline: 25px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease-in-out;
}
header > nav > ul > li > a > i {
  margin-left: 5px;
  padding-top: 3px;
}
header > nav > ul > li > ul {
  width: 250px;
  position: absolute;
  top: 100%;
  left: 0;
  background-image: url(../img/bg-section-1.png);
  background-size: cover;
  background-position: center;
  transform-origin: top;
  transform: scaleY(0);
}
header > nav > ul > li > ul > li {
  padding-block: 10px;
  padding-left: 50px;
  font-size: 16px;
  font-family: "Medium";
  transition: 0.4s ease;
  cursor: pointer;
  text-transform: capitalize;
}
header > nav > ul > li > ul > li:hover {
  background-color: rgba(22, 151, 187, 0.3019607843);
}
header > nav > ul > li:first-of-type {
  color: #1698BB;
}
header > nav > ul > li:hover > a {
  color: #1698BB;
}
header > nav > ul > li:hover > ul {
  transform: scaleY(1);
  transition: 0.3s ease-in-out;
}
header > nav > div {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header > nav > div > a {
  color: white;
  font-size: 25px;
  padding-top: 3px;
}
header > nav > div > figure {
  width: 48px;
  height: 48px;
  margin-inline: 20px 10px;
}
header > nav > div > figure > img {
  width: 100%;
}
header > nav > div span {
  display: flex;
  color: white;
  text-transform: capitalize;
  font-family: "Regular";
  font-size: 20px;
}
header > nav > div span > i {
  margin-left: 5px;
  padding-top: 3px;
}
header #header-content {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(../img/hero-large.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 5%;
}
header #header-content > h2 {
  color: white;
  font-family: "SemiBold";
  font-size: 1.6515vw;
}
header #header-content > h1 {
  color: white;
  font-family: "SemiBold";
  font-size: 3.958vw;
  margin-bottom: 10px;
}
header #header-content > figure {
  margin-bottom: 25px;
}
header #header-content > figure > img {
  width: 250px;
}
header #header-content > p {
  font-size: 1.045vw;
  color: white;
  font-family: "Medium";
  margin-bottom: 50px;
}
header #header-content > div {
  display: flex;
}
header #header-content > div > a {
  padding: 12px 32px;
  text-transform: capitalize;
  font-family: "Medium";
  font-size: 18px;
  transition: 0.3s ease-in-out;
}
header #header-content > div > a:nth-of-type(1) {
  background-color: #1698BB;
  color: white;
}
header #header-content > div > a:nth-of-type(1):hover {
  background-color: white;
  color: #1698BB;
}
header #header-content > div > a:nth-of-type(2) {
  background-color: white;
  color: #1698BB;
  margin-left: 25px;
}
header #header-content > div > a:nth-of-type(2):hover {
  background-color: #1698BB;
  color: white;
}

main {
  width: 100%;
  height: 700vh;
  background-image: url(../img/bg-section-1.png);
  background-attachment: fixed;
  background-size: cover;
}

#explore {
  width: 100%;
  padding-top: 80px;
  padding-inline: 5%;
}
#explore > h2 {
  color: white;
  text-transform: capitalize;
  font-family: "SemiBold";
  font-size: 3.177vw;
  margin-bottom: 50px;
}
#explore > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#explore > div > span {
  display: flex;
  width: 410px;
  height: 235px;
  background: rgba(22, 152, 187, 0.05);
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#explore > div > span > * {
  margin-bottom: 10px;
}
#explore > div > span > figure {
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  border: 1px solid #45474F;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s ease-in-out;
  margin-bottom: 15px;
}
#explore > div > span > figure > img {
  width: 50px;
}
#explore > div > span:last-of-type > figure > img {
  width: 80px;
}
#explore > div > span > h5 {
  color: white;
  font-size: 1.302vw;
  font-family: "Medium";
  text-transform: capitalize;
}
#explore > div > span > p {
  font-size: 1.042vw;
  color: #92949F;
  font-family: "Medium";
  text-transform: capitalize;
}
#explore > div > span:hover > figure {
  background-color: #1698BB;
}

#games {
  width: 100%;
  padding-top: 90px;
  padding-inline: 5%;
}
#games > h2 {
  color: white;
  text-transform: capitalize;
  font-family: "SemiBold";
  font-size: 3.177vw;
  margin-bottom: 50px;
}
#games > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 10px;
}
#games > div > span {
  width: 415px;
  height: 550px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease-in-out;
}
#games > div > span::before {
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  content: "";
  display: block;
  height: 100%;
  left: -90%;
  position: absolute;
  top: 0;
  transform: skewX(25deg);
  width: 30%;
  z-index: 3;
  pointer-events: none;
}
#games > div > span > figure {
  width: 100%;
  height: 100%;
  transition: 0.5s ease-in-out;
  transform-origin: center;
}
#games > div > span > figure > img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#games > div > span > div {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  padding-inline: 10px;
  padding-bottom: 10px;
}
#games > div > span > div > h2 {
  color: white;
  text-transform: capitalize;
  font-size: 2.031vw;
  font-family: "SemiBold";
  transition: 0.4s ease-in-out;
}
#games > div > span > div > p {
  font-size: 1.042vw;
  color: white;
  font-family: "Regular";
}
#games > div > span > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
#games > div > span > div > div > div {
  display: flex;
  flex-direction: column;
}
#games > div > span > div > div > div > span {
  font-size: 18px;
  text-transform: capitalize;
  color: white;
  font-family: "Regular";
}
#games > div > span > div > div > div > span > i {
  color: gold;
}
#games > div > span:hover {
  box-shadow: 0px 60px 46px -60px #1698BB;
}
#games > div > span:hover::before {
  animation: shine 0.65s;
}
#games > div > span:hover > figure {
  transform: scale(1.1);
}
#games > div > span:hover > div > h2 {
  color: gold;
}

#comment {
  width: 100%;
  margin-top: 70px;
  padding-inline: 5%;
}
#comment > div {
  padding-block: 120px;
  background-image: url(../img/testimonials-bg.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#comment > div > h2 {
  color: white;
  font-size: 3.177vw;
  font-family: "Medium";
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}
#comment > div > h3 {
  color: white;
  font-size: 1.302vw;
  font-family: "SemiBold";
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 35px;
}
#comment > div > p {
  color: white;
  font-size: 1.042vw;
  font-family: "Regular";
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 50px;
}
#comment > div > div {
  width: 280px;
  padding: 8px 16px;
  background-color: #1698BB;
  display: flex;
  justify-content: space-between;
}
#comment > div > div > div {
  display: flex;
  flex-direction: column;
}
#comment > div > div > div > span {
  font-size: 18px;
  text-transform: capitalize;
  color: white;
  font-family: "Regular";
}
#comment > div > div > div > span > i {
  color: gold;
}
#comment > div > div > div:last-of-type {
  align-items: flex-end;
}

#players {
  width: 100%;
  margin-top: 90px;
  padding-inline: 5%;
}
#players > h2 {
  color: white;
  text-transform: capitalize;
  font-family: "SemiBold";
  font-size: 3.177vw;
  margin-bottom: 50px;
  text-align: center;
}
#players > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#players > div > div {
  width: 530px;
  height: 200px;
  padding: 15px;
  background-color: #0A1113;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#players > div > div > div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#players > div > div > div > figure {
  display: flex;
}
#players > div > div > div > figure > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}
#players > div > div > div > figure > div > h3 {
  font-size: 1.615vw;
  color: white;
  text-transform: capitalize;
  font-family: "SemiBold";
}
#players > div > div > div > figure > div > h6 {
  color: white;
  text-transform: capitalize;
  font-size: 1.042vw;
  font-family: "Regular";
}
#players > div > div > div > span {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #92949F;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
#players > div > div > div > span > i {
  font-size: 22px;
  color: #92949F;
  transition: 0.3s ease-in-out;
}
#players > div > div > div > span:hover {
  border: 1px solid gold;
}
#players > div > div > div > span:hover > i {
  color: gold;
}
#players > div > div > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#players > div > div > ul > li > h6 {
  font-size: 1.042vw;
  text-transform: capitalize;
  font-family: "Regular";
  color: #92949F;
  margin-bottom: 5px;
}
#players > div > div > ul > li > div {
  display: flex;
  color: gold;
}
#players > div > div > ul > li > p {
  color: white;
  text-transform: capitalize;
  font-family: "1.042vw";
  font-family: "Regular";
}/*# sourceMappingURL=master.css.map */